.main{
    background-color: #1F2937 ;
    padding-top:20px;
    height:450px;
}

.header {
   display:flex;
   justify-content: space-between;
   margin-bottom:100px;
}

ul{
    display:flex;
    list-style-type: none;
    margin:0;
    padding:0 145px;
    gap:16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7Eb;
}


.hero{
    font-size: 48px;
    color: #F9FAF8 ;
    font-weight: 900;
}
.headL{
    color: #F9FAF8;
    font-size: 24px;
    padding: 0 145px;
}

html,body{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

button{
    background-color:#3882F6;
    color:white;
    text-align: center;
    padding:8px;
    margin:4px 2px;
    border-radius: 12px;
    width:125px;
    border: none;
    font-size:17px;
}

.subtext{
    font-size:18px;
    color: #E5E7Eb;
}

.headertext{
    display:flex;
    justify-content: space-evenly;
    margin:0;
}
.header-content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:450px;
}
.secondmain{
    margin-bottom: 150px;
}
.secondtext{
    display:flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.secondimage{
    display:flex;
    margin-top:80px;
    gap:30px;
    justify-content: center;
}

.seperate{
    flex-wrap: wrap;
    width:200px;
}

.change{
    border-radius: 25px;
}
.ctext{
    display:flex;
    text-align: center;
    flex-wrap: wrap;
    width:175px;
}

.ctmain{
    display:flex;
    background-color: #E5E7Eb;
    justify-content: center;
    height:500px;
}



.quote{
    display:flex;
    align-items: center;
    font-size: 40px;
    font-style: italic;
    color: #1F2937;
    padding: 150px;
    width:1000px;
}

.csig{
    display: flex;
    justify-content: right;
    padding: 0 250px;
}
.sig{
    position: relative;
    bottom: 150px;
}

.sig{
    font-weight: bold;
    font-size: 30px;
}

.fourthmain{
    display: flex;
    justify-content: center;
    padding: 100px;
}

.box{
    background-color: #3882F6;
    border-radius:12px;
    padding:48px;
    display:flex;
    gap:300px;
}

.signtext{
    font-size: 24px;
    color: white;
}

.signsubtext{
    color:white;
}

.fourthbutton{
    border:2px solid white;
    border-radius:12px;
}

.copyright{
    background-color: #1F2937;
    padding:25px;
    display:flex;
    justify-content: center;
}

.fifthtext{
    color: white;
}